<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:created">
        <handler type="FieldFallback.Processors.Events.DefaultValuesItemCreatedHandler, FieldFallback.Processors" method="OnItemSaved">
        </handler>
      </event>
    </events>
    <processors>
      <uiDeleteItems>
        <processor 	type="FieldFallback.Processors.Pipeline.DefaultValuesDeleteItems,FieldFallback.Processors" method="ProcessDeleteItems"
					patch:before="processor[@type='Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel' and @method='CheckTemplateLinks']"/>
      </uiDeleteItems>
    </processors>
    <settings>

      <!-- Location of default templates that are used by the Fallback Items-->
      <setting name="Fallback.Default.Template.Location" value ="/sitecore/templates/FieldFallbackDemo/DefaultTemplatesDemoFolder"/>

      <!-- Location of the default items that will be automatically created after the templates are created-->
      <setting name="Fallback.Default.Item.Location" value ="/sitecore/content/FieldFallbackDemo/DefaultItemsDemoFolder"/>

      <!-- Database to process events in-->
      <setting name="Fallback.Default.Database" value="master"/>

      <!-- Text to append to end of the name of the Default Item being created-->
      <setting name="Fallback.Default.ContentItemSuffix" value=" Defaults"/>

      <!-- Fallback Defaults Folder Template ItemID-->
      <setting name="Fallback.Default.Folder.ID" value="{01EDFB94-C2E5-4E9E-8CF7-C1A50F5D7331}"/>
    </settings>
  </sitecore>
</configuration>