<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <databases>
            <!-- Custom GetItemCommand in order to support the "Enforcing of Version Presence" functionality -->
            <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
                <Engines.DataEngine.Commands.GetItemPrototype>
                    <obj type="FieldFallback.Processors.Globalization.DataEngine.GetItemCommand,  FieldFallback.Processors.Globalization" />
                </Engines.DataEngine.Commands.GetItemPrototype>
            </database>
            <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
                <Engines.DataEngine.Commands.GetItemPrototype>
                    <obj type="FieldFallback.Processors.Globalization.DataEngine.GetItemCommand,  FieldFallback.Processors.Globalization" />
                </Engines.DataEngine.Commands.GetItemPrototype>
            </database>
        </databases>

        <!-- add in the language fallback processor -->
        <pipelines>
            <fieldFallback>
                <processor patch:before="*[1]"
                  type="Sitecore.SharedSource.PartialLanguageFallback.PartialLanguageFallbackProcessor, FieldFallback.Processors.Globalization" />
            </fieldFallback>
        </pipelines>

        <sites>
            <site name="website" enforceVersionPresence="true" />
        </sites>

        <settings>
            <!--
	           Regisered Sitecore language to be used for enforcing language fallback, i.e. 'master' language
	           It is VERY important NOT to have this language to fallback to any other language on the item definition
	
	           The value could be different depending on a locale. For US, that would be 'en' or 'en-US' for example
	           If 'enforcing from master language' feature is enabled, this language will be used as a source language.
	
	           Default value: en
	        -->
            <setting name="Fallback.MasterLanguage" value="en" />


            <!-- Pipe separated list of template GUIDs that support "Enforcing of Version Presence" functionality
           Default value: empty
            -->
            <setting name="Fallback.EnforceVersionPresenceTemplates" value="" />
        </settings>
    </sitecore>
</configuration>