<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>

        <pipelines>
            <renderContentEditor>
                <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client">
                    <patch:attribute name="type">FieldFallback.Pipelines.RenderContentEditor.RenderStandardContentEditor, FieldFallback.Kernel</patch:attribute>
                </processor>
            </renderContentEditor>
        </pipelines>

        <standardValues>
            <patch:attribute name="defaultProvider">fallback</patch:attribute>
            <providers>
                <add name="fallback" type="FieldFallback.Data.FallbackValuesProvider, FieldFallback.Kernel">
                    <param name="databases" desc="Pipe separated list of the databases that support the fallback">master|web</param>
                    <param name="sites" desc="Pipe separated list of the sites that support fallback">shell|system|website</param>
                    
                    <!--
                        Fallback only works on content items (items that start with /sitecore/content).
                        However, here we can provide a pipe separated list of paths we want to restrict to.
                        default: [none] == all content items
                    -->
                    <SupportedContentPaths></SupportedContentPaths>
                    <Logger type="FieldFallback.Logging.Logger, FieldFallback.Kernel">
                        <Enabled>true</Enabled>
                    </Logger>
                    
                    <Cache type="FieldFallback.Caching.FallbackValuesCache, FieldFallback.Kernel">
                        <param name="sizeString" desc="cache size">10MB</param>
                    </Cache>

                    <SkipItemCache type="FieldFallback.Caching.SkipItemCache, FieldFallback.Kernel">
                        <param name="sizeString" desc="cache size">1MB</param>
                    </SkipItemCache>
                </add>
            </providers>
        </standardValues>

        <pipelines>
            <fieldFallback>
                <!-- Wire in any fallback processors required -->

            </fieldFallback>
        </pipelines>

        <settings>
            <!-- Pipe separated list of field IDs that will be ignored during the fallback process 
           Example: {GUID}|{GUID}
           Default value: empty
            -->
            <setting name="Fallback.IgnoredFields" value="" />
            
            <!-- Whether to process fallback for the system fields that start with "__"
           Default value: false
            -->
            <setting name="Fallback.ProcessSystemFields" value="false" />

            <!-- Should the fallback provider return fallback values when the site is in preview mode -->
            <setting name="Fallback.EnablePreview" value="true" />

            <!-- Should the fallback provider return fallback values when the site is in edit mode -->
            <setting name="Fallback.EnablePageEditor" value="true" />
        </settings>

    </sitecore>
</configuration>